.home {

  .header {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 20px auto;
    .border-padding();
  }

  @media @mob500 {
    .header {
      display: flex;
      width: 100%;
      flex-direction: column;
      text-align: center;
    }
  }

  .top-content-section {
    margin-bottom: 40px;
    .border-padding();

    .top-img {
      padding-bottom: 20px;
    }
  }

  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .text-content {
      width: 48%;
      padding-right: 1%;
    }

    .img-content {
      width: 48%;
      padding-left: 1%;

      img {
        border-radius: 10px;
      }
    }
  }

  @media @mob500 {
    .content-section {
      margin: 30px auto;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;

      .text-content {
        width: 100%;
        padding-right: 0;
      }

      .img-content {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        .padding();
      }
    }
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;

    img {
      border-radius: 10px;
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

    .destination {
      width: 30%;
      margin-bottom: 30px;

      button {
        background-color: @button-bg;
        border: none;
        padding: 15px 30%;
        text-align: center;
        display: inline-block;
        .border-radius(15px);
      }

      a {
        text-decoration: none;
        color: @white;
        font-size: 15px;
      }
    }
  }

  @media @mob500 {
    .content-pick {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;

      .destination {
        display: flex;
        width: 70%;
        flex-direction: column;
      }
    }
  }
}

// home